# Git
.gitattributes text eol=lf export-ignore
.gitignore text eol=lf export-ignore

# JSON
*.json text eol=lf
*.lock text eol=lf

# Markdown
*.md text eol=lf

# PHP
/src/**.php text eol=lf
/tests/**.php text eol=lf export-ignore

# XML
*.xml text eol=lf export-ignore

# YAML
*.yml text eol=lf export-ignore
